@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    /* Ab body light mode mein bright aur dark mode mein black hogi */
    @apply bg-neutral-50 text-neutral-800 dark:bg-[#050505] dark:text-[#f8fafc] font-sans antialiased min-h-screen transition-colors duration-300;
  }
}

.glass-panel {
  background: rgba(15, 15, 15, 0.8);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.05);
}